:root {
    --header-color: olive;
    --background-color: rgb(173, 173, 76);
}

body {
    color: orange;
    background-color: olive;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.header {
    display: flex;
    border-bottom: 4px dashed orange;
    align-items: center;
    background-color: rgb(75, 75, 0);
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    align-items: flex-end;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: flex-end;
}

li {
    margin-right: 20px;
}

#avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 225%;
    margin-left: 20px;
    margin-right: auto;
}

.infoSection {
    margin: 30px;
    display: flex;
}
.bioDiv{
    display: flex;
    justify-content: space-around;
    align-content:center;
}

.bioSubDiv{
    display: flex;
    flex-direction: column;
    justify-content:center; 
}

h2 {
    margin-bottom: 10px; 
    padding:0;

}

#bioText {
    display: flex;
    margin: 10px; 
    padding:50px;
    max-width: auto;
}

p{
    padding:50px;
}