body{
    color:orange;
    background-color: olive;
    font-family:'Courier New', Courier, monospace
}
.heading{
    border: 4px dashed orange;
}
.mainNav{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-end;
    font-size: 15px;
    padding: 8px;
}